.user-btn {
    border: none;
    background-color: #f8f9fa;
    color: #333;
    transition: background-color 0.3s;
}
.user-btn:hover {
    background-color: #e2e6ea;
}
.text-logout {
    color: #005555;
}
.text-logout:hover {
    color: #003737;
}
/* Styles for test cards */
.card {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.card:hover {
    transform: translateY(-5px);
}
.card-body {
    padding: 15px;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.tags {
    margin-top: 10px;
}
.tag {
    display: inline-block;
    background-color: #e9ecef;
    color: #6c757d;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
    margin-right: 5px;
}
/* Styles for suggestion box */
.suggestion-card {
    margin-top: 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.suggestion-card h5 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #2c3e50;
    margin: 0;
}
.suggestion-card p {
    font-size: 0.9rem;
    color: #6c757d;
}
.custom-link {
    color: #000000;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
.custom-link:hover {
    background-color: #0582c62e;
}
.custom-link.active {
    background-color: #0582c642;
    color: #0096e0;
}
/* CSS cho button và hiệu ứng hover */
.stats-btn {
    transition: all 0.3s ease-in-out;
    border: 1px solid #007bff;
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #f8f9fa, #ffffff);
    border-radius: 8px;
    color: #000000; /* Black text by default */
}
.stats-btn:hover {
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: #ffffff !important; /* White text on hover */
    transform: scale(1.02);
    border-color: #0056b3;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}
.stats-btn i, .stats-btn span {
    transition: color 0.3s ease-in-out;
}
.stats-btn:hover i, .stats-btn:hover span {
    color: #ffffff; /* White icon and text on hover */
}
/* Styles for test history */
.test-history .history-item h6 {
    font-size: 1rem;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 5px;
}
.test-history .history-item p {
    font-size: 0.85rem;
    color: #6c757d;
    margin-bottom: 0;
}