body {
    font-family: 'Noto Sans JP', sans-serif;
}
.hero-section {
    background-image: url('../picture/tokyo-skyline-fuji.jpg');
    background-size: cover;
    height: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
    
}
.hero-section p{
    animation: fadeInUp 3s ease forwards;
}
.hero-section h1{
    animation: fadeInUp 2s ease forwards;
}
.about-section h2 {
    color: #d32f2f;
}
.about-section p {
    text-align: left;
    line-height: 1.8;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container #p1{
    text-align: justify;
}